html .about {
    background-image: url("https://raw.githubusercontent.com/shoshanimayan/shoshanimayan.github.io/master/_images/image3.JPG");}

html .home{background-image: url("https://raw.githubusercontent.com/shoshanimayan/shoshanimayan.github.io/master/_images/image2.JPG");}

html .contact {
    background-image: url(https://media.giphy.com/media/Nc1d6apaHowmY/giphy.gif);}
html .resume{ background-color:#000000}

html body{
   background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
}


/*navigation bar*/
nav ul{list-style: none;
  display:flex;
  align-items: flex-start;
  top:23px;}

nav li a{text-decoration: none;
    background-color:#fc9200;
    border: none;
  border-bottom:2px solid black ;
  
    color: white;
    padding: 5px 16px 6px;
    border-radius: 15px;
    font-size: 16px;
    margin: 6px 6px;
  -webkit-transition-duration: 1s;
}
nav li a:hover{color:white;
text-decoration:none;
  background-color:#FCc000;}

nav h1{top:-10px;
  color:white;
}

header nav {
  
    margin:0em 0em 3em 0em;
  max-height:80px;
	padding: 10px;
  padding-bottom:2em;
		background:transparent;
Border-bottom:solid gray;
border-left:solid gray;
border-right:solid gray;
border-radius: 10px;
background-color:silver;	
}

/*intro*/
.board .jumbotron{margin:70px 47px 50px 47px;
  height:50em;}

.board .jumbotron p{color:white;
text-shadow: -10px 10px 5px rgba(0,0,5,10);
margin:0px 0px 40px 20px}
.board .jumbotron h2{color:white;
text-shadow: -10px -10px 10px rgba(0,0,10,10);
margin: 0em  0px 1em 0px}

.board .jumbotron span{margin: 0px 100px}

.board .jumbotron .pic{float:left}

/*Footer*/
.footer ul {list-style: none;
  display:flex;
  align-items: flex-start;
  }
.footer .row ul li a{padding: 5px 11px 6px;
margin: 4px 4px;}

/*home screen*/
#wrap{padding:0em 0em 20em 0em}

#poster{margin-top:3.5em;}

#poster h1{-webkit-text-stroke: 2px black;
 color:white;
text-align: center;
font-family:Impact;
padding-bottom:.5em}

#poster h3{-webkit-text-stroke: 1px black;
  color:white;
  margin-bottom:2.5em;
text-align: center;
font-family:Impact}

#poster p{-webkit-text-stroke: 1px black;
  color:white;
  ;
  
text-align: center;
font-family:Impact}

.block_list ul{display:flex;
  postion: absolute;
list-style: none;
  width:40%;
    padding:3em 65em 3em 3em;
  margin:0 auto;}

.block_list ul li{
  margin:0em 10em 0em 0em;
  padding: 4.5em;}

.block_list ul li #git{padding: 0}

.block_list ul li a {color:white; 
  position:relative;
background-color:transparent;
 text-align: center;
 font-family: "Arial", Times, serif;
  font-size: 1.5em;
border:solid ;
padding: 2em 3em 2em 3em;
-webkit-transition-duration: .5s}

.block_list li a:hover{;
  text-decoration:none;
  color:green;
  -webkit-text-stroke: 1px black;;
border: solid green .3em}

  
 /*contacts*/
.contacts .jumbotron{margin:90px 47px 50px 47px;height:500px;}

.contacts .jumbotron p{color:white;
text-align: center; postion:absolute; margin-top:2em;
text-shadow: -10px 10px 10px rgba(0,0,10,10);}
.contacts .jumbotron h2{color:white;
text-align: center; position: relative;text-shadow: -10px 10px 10px rgba(0,0,10,10);}
.contacts .jumbotron div{margin:auto 0;
margin-top:1em}

/*resume page*/
#top{ background-image:url("https://raw.githubusercontent.com/shoshanimayan/shoshanimayan.github.io/master/_images/image4.JPG");
background-size: cover;           
background-repeat: no-repeat;
background-position:center center;
width:100%;
height:35em;}

#top h1{color:white;
text-align: center;
font-family:"Impact";
font-size:9em;
-webkit-text-stroke: 3px black;}

#top p{color:white; text-align:center;
margin-top:8em;}

#top a{color:white;
  padding:2em 3em 2em 3em; 
  border: solid white .2em;
font-family:impact;
  -webkit-transition-duration: .5s
}

#top a:hover{color:green;
text-decoration:none;
border:solid green .35em;
font-family:"Impact"}

#pdf{margin:5em}

iframe{align:right;
width:100%;
height:160em}
