html .about {
    background-image: url("https://raw.githubusercontent.com/shoshanimayan/shoshanimayan.github.io/master/_images/image3.JPG");
   background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}

/*navigation bar*/
nav ul{list-style: none;
  display:flex;
  align-items: flex-start;
  top:23px;}

nav li a{text-decoration: none;
    background-color:#fc9200;
    border: none;
  border-bottom:2px solid black ;
    color: white;
    padding: 5px 16px 6px;
    border-radius: 15px;
    font-size: 16px;
    margin: 6px 6px;
  -webkit-transition-duration: 1s;
}
nav li a:hover{color:white;
text-decoration:none;
  background-color:#FCc000;
text-transform:uppercase;
}

nav h1{top:-10px;
  color:white;
}

header nav {
  margin:0em 0em 4em 0em;
  max-height:80px;
	padding: 10px;
		background:transparent;}

/*intro*/
.board .jumbotron{margin:20px 47px 20px 47px;
  height:43em;}

.board .jumbotron p{color:white;
text-shadow: -10px 10px 5px rgba(0,0,5,10);
margin:0px 0px 40px 20px}
.board .jumbotron h2{color:white;
text-shadow: -10px -10px 10px rgba(0,0,10,10);
margin: 0em  0px 1em 0px}

.board .jumbotron span{margin: 0px 100px}
/*Footer*/
.footer ul {list-style: none;
  display:flex;
  align-items: flex-start;
  }
.footer .row ul li a{padding: 5px 11px 6px;
margin: 4px 4px;}




  

